<div id="footer" >
	<div id="bottom_nav">
		<%= nav_link "Home", "/" %> | 
		<%= nav_link "My XU", "user", "index" %> | 
		<%= nav_link "Xembers", "community", "index" %> |
		<%= nav_link "Xplore", "site", "xplore" %> |
		<%= nav_link "Points & Rewards", "site", "points_and_rewards" %> |
		<%= nav_link "Study Abroad", "site", "study_abroad" %> |
		<%= nav_link "Forums", "site", "forums" %> |
		<%= nav_link "Contact", "contacts", "new" %> |
		<%= nav_link "About Us", "site", "about_us" %> |
		<%= nav_link "Terms & Conditions", "site", "terms_and_conditions" %> |
		<%= nav_link "Help", "site", "help" %>
	</div>
	<div class="copyright">Copyright ©2008, XploreU, LLC. All Rights Reserved.</div>
</div>
