<h1>CONTACT XU</h1>

<p>Have a question? Have an idea? Want to become an XU Ambassador? Want to meet the XU Team? Let us know what you are thinking!
Fill out this form and we'll get back to you shortly!</p>

<div class="form_row">
	<% form_tag '/contact/create' do %>
	  <fieldset>
      <legend><%= @title %></legend>
        <p><label for="contact_name">Name</label>
        <%= text_field :contact, :name %>
        <%#= error_messages_for_attribute(@contact, :name) %></p>

        <p><label for="contact_email">Email</label>
        <%= text_field :contact, :email %>
        <%#= error_messages_for_attribute(@contact, :email) %></p>

        <p><label for="contact_phone">Phone</label>
        <%= text_field :contact, :phone %>
        <%#= error_messages_for_attribute(@contact, :phone) %></p>

        <p><label for="contact_message">Message</label>
        <%= text_field :contact, :message %>
        <%#= error_messages_for_attribute(@contact, :message) %></p>

        <p><%= submit_tag 'Submit', :class => "submit" %></p>
      </fieldset>
	<% end %>
</div>