<div id="left_column">
  <%= render :partial => 'avatar/sidebar_box' %> 
  <%= render :partial => 'contact_box' %>
  <%= render :partial => 'faq/sidebar_box', :collection => Faq::FAVORITES %>   
</div>

<div id="main_content">
  <div id="full_name">
    <%= h @spec.full_name.or_else(@user.screen_name) %>
  </div>
  <div id="occupation">
    <%= h @spec.occupation %>
  </div> 
  <div id="location">
    <%= h @spec.location %>
  </div>
  
  <hr noshade />  
  Bio: 
  <div id="bio">
    <%= sanitize @faq.bio %>
  </div>
  
  <hr noshade />  
  Friends:
  <%= render :partial => "friendship/friends" %>
  <% unless @blog.posts.empty? %>
    <hr noshade />
    Blog: <%= render :partial => "blog" %>
  <% end %>
                           
</div>