<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
	<head> 
    	<title><%= @title %>: XploreU The Student Travel-pedia</title>
		<%= stylesheet_link_tag 'frontend', 'profile', 'site' %>
	    <%= javascript_include_tag :defaults %>
	</head>
	<body>
		<div id="pagewidth" >
      <%= render :partial => 'shared/header' %>
        <%= render :partial => 'shared/top_nav' %>
				<div id="wrapper" class="clearfix" >
				<%= render :partial => 'shared/notice' %>
				<div id="maincol"> 
					<%= yield %>
				</div>
			</div>
      <%= render :partial => 'shared/footer' %>
		</div>
		<%= render :partial => 'shared/debug' %>
	</body>
</html>