<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
	<head> 
    <title><%= @title %>: XploreU The Student Travel-pedia</title>
		<%= stylesheet_link_tag 'frontend', 'profile', 'corners', 'stickies', 'menu' %>
		<link rel="stylesheet" type="text/css" href="stylesheets/slideshow.css" media="screen" />
    	<%= javascript_include_tag :defaults, 'jquery', 'jquery.innerfade' %>
		<script type="text/javascript">
	   $(document).ready(
		function(){
			$('ul#portfolio').innerfade({
				speed: 1000,
				timeout: 5000,
				type: 'sequence',
				containerheight: '272px'
			});	
			});
  		</script>
	</head>
	<body>
		<div id="pagewidth" >
      		<%= render :partial => 'shared/header' %>
        	<%= render :partial => 'shared/top_nav' %>
		<div id="wrapper" class="clearfix" >
	    <div class="outside_home">
      		<div id="TopRightCorner_home"></div>		
			<div id="TopLeftCorner_home"></div>
			<div id="top_bar">
				<div style="float:left;"><b><%= @title %></b></div>
				<div id="nav">
					<% if logged_in? -%>
					<%= nav_link "Profile", "user", "index" %> |
					<%= nav_link "Logout", "user", "logout" %> 
					<% else -%>
					<% end -%>
				</div>
			</div>
			<!-- <div class="notice"><%= render_stickies %></div> -->
				<!-- inner content here -->
					<div style="margin:0 auto;">
						<ul id="portfolio">					
							<li>
								<img src="images/frontend/slides/beach.jpg" alt="XploreU Student Travel" />
							</li>
							<li>
								<img src="images/frontend/slides/castle.jpg" alt="XploreU Student Travel" />
							</li>					
							<li>
								<img src="images/frontend/slides/earth.jpg" alt="XploreU Student Travel" />
							</li>					
							<li>
								<img src="images/frontend/slides/lobster.jpg" alt="XploreU Student Travel" />
							</li>		
							<li>
								<img src="images/frontend/slides/mountain.jpg" alt="XploreU Student Travel" />
							</li>
							<li>
								<img src="images/frontend/slides/parlaiment.jpg" alt="XploreU Student Travel" />
							</li>				
						</ul>
					</div>
				</div>
				<div class="map"></div>
				<!-- end of inner content -->
		</div>
      	<%= render :partial => 'shared/footer' %>
		</div>
		<%= render :partial => 'shared/debug' %>
	    </div>		
		<noscript>
		    <div id="att">
		    	<p>Sorry, you need to activate JavaScript in your browser.</p>
		    </div>
    	</noscript>
	</body>
</html>

