<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
	<head> 
    <title><%= @title %>: XploreU The Student Travel-pedia</title>
		<%= stylesheet_link_tag 'frontend', 'profile', 'corners', 'stickies', 'tabs', 'slideshow', 'niftyCorners' %>
		<%= javascript_include_tag :defaults, 'tabbedpane', 'slideshow', 'niftycube' %>
		<script type="text/javascript">
		window.onload=function(){
		Nifty("ul#nav a","small transparent top");
		}
		</script>
	</head>
	<body>
		<div id="pagewidth" >
      		<%= render :partial => 'shared/header' %>
        	<%= render :partial => 'shared/top_nav' %>
		<div id="wrapper" class="clearfix" >
	    <div class="outside_home">
      		<div id="TopRightCorner_home"></div>		
			<div id="TopLeftCorner_home"></div>
			<div id="top_bar">
				<div style="float:left;"><b><%= @title %></b></div>
				<div id="nav">
					<% if logged_in? -%>
					<%= nav_link "Profile", "user", "index" %> |
					<%= nav_link "Logout", "user", "logout" %> 
					<% else -%>
					<% end -%>
				</div>
			</div>
			</div>
				<!-- inner content here -->
				<%= render :partial => 'shared/login_box' %>
				<div id="rotator">
					<img src="images/frontend/slides/xploreu_homepage.jpg" alt="XploreU Student Travel" />
					<img src="images/frontend/slides/elephant.jpg" alt="XploreU Student Travel" />
					<img src="images/frontend/slides/mountains.jpg" alt="XploreU Student Travel" />
					<img src="images/frontend/slides/ocean.jpg" alt="XploreU Student Travel" />
					<img src="images/frontend/slides/palm_mountain.jpg" alt="XploreU Student Travel" />
					<img src="images/frontend/slides/sunset_mountains.jpg" alt="XploreU Student Travel" />
					<img src="images/frontend/slides/sunset_trees.jpg" alt="XploreU Student Travel" />
					<img src="images/frontend/slides/bus_ride.jpg" alt="XploreU Student Travel" />
				</div>
				<div class="map">
					<%#= render :partial => 'shared/lower_nav' %>
				    <div class="tabbed-pane">
					<ul class="tabs">
					  	<li><a href="#" class="active" id="about_us">About Us</a></li>
					  	<li><a href="#" id="ambassadors">Ambassadors</a></li>
						<li><a href="#" id="tips">Tips</a></li>
						<li><a href="#" id="post">Post</a></li>
						<li><a href="#" id="blog">Blog</a></li>
						<li><a href="#" id="updates">Updates</a></li>
					</ul>
					<div id="MyPane_container" class="tabbed-container">
					  <div id="MyPane_overlay" class="overlay" style="display: none">
					    <h3>Loading&#8230;</h3>
					  </div>
					  <div id="MyPane" class="pane"></div>
					</div>
				    </div>
				    <script type="text/javascript">
				      new TabbedPane ('MyPane',
					{
					  'about_us': '<%= url_for(:controller => :site, :action => :about_us) %>',
					  'ambassadors': '<%= url_for(:controller => :site, :action => :ambassadors) %>',
					  'tips': '<%= url_for(:controller => :site, :action => :tips) %>',
					  'post': '<%= url_for(:controller => :site, :action => :post) %>',
					  'blog': '<%= url_for(:controller => :site, :action => :blog) %>',
					  'updates': '<%= url_for(:controller => :site, :action => :updates) %>'
					},
					{
					  onClick: function(){
					    $("MyPane_overlay").show();
					  },
					  onSuccess: function(){
					    $("MyPane_overlay").hide();
					  }
					});
				    </script>
					<!-- <div id="cheap_tickets">
									<script src="http://ad.linksynergy.com/fs-bin/show?id=GCILbQuhnvE&bids=130340.5740&catid=54&gridnum=14&type=14&subid=0"> </script>
									<noscript><a href="http://click.linksynergy.com/fs-bin/click?id=GCILbQuhnvE&offerid=130340&type=4&subid=">
									<img src="http://ad.linksynergy.com/fs-bin/show?id=GCILbQuhnvE&bids=130340&subid=&type=4&gridnum=14"></a></noscript>
								</div> -->
				</div>
				<!-- end of inner content -->
		</div>
      	<%= render :partial => 'shared/footer' %>
		</div>
		<%= render :partial => 'shared/debug' %>
	    </div>		
		<noscript>
		    <div id="att">
		    	<p>Sorry, you need to activate JavaScript in your browser.</p>
		    </div>
    	</noscript>
	</body>
</html>

